Skip to content
This repository  
Pull requests
Issues
Gist
 @Amulya-Shankar
You don’t have any verified emails. We recommend verifying at least one email.
Email verification helps our support team verify ownership if you lose account access and allows you to receive all the notifications you ask for.
 Watch 1
  Star 0
  Fork 0
dontknow/myuiproject1
 branch: master  myuiproject1/index.html
@dontknowdontknow a day ago ng-repeat directive tested
1 contributor
RawBlameHistory     46 lines (39 sloc)  1.696 kB
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
</head>
<body class="container">
    <h1>My First Angular JS Project</h1>
    
        <form role="form" class="form-horizontal" ng-app ng-init='x=2;y=7;arr=["a","3","x"]'>
            <div class="form-group">
                <label for="x" class="control-label col-md-1">X = </label>
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="x"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="y" class="control-label col-md-1">Y = </label>
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="y"></input>
                </div>
            </div>
            <div class="jumbotron">
                <p>The product of {{ x }} and {{ y }} is <b>{{ x * y }}</b></p>
            </div>
            <div class="well">
                <ul>
                    <li ng-repeat="item in arr">{{ item }}</li>
                </ul>
            </div>
        </form>
        
    
</body>
</html>
Status API Training Shop Blog About Help
© 2015 GitHub, Inc. Terms Privacy Security Contact